<h1>Here is a list of all of our available products:</h1>
  <% @products.each_slice(3) do |product_slice| %> 
<div class="row">
  <% product_slice.each do |product| %> 
  <div class="col-md-4">
    <div class="well">
      <a href="/products/<%=product[:id]%>"><%= product.name %></a> <%= product.price %>
      <p><%= product.description %></p>
      <p><a href="/products/<%= product.id%>/edit">Want to edit a product? Click here!</a></p>
      <a href="/products/<%= product.id %>" data-confirm="Are you sure?" data-method="delete">
      <%= button_to "DESTROY THIS PRODUCT", "/products/#{product.id}", method: :delete %>
      <img src= "http://torontotea.ca/images/kama%20sutra%20chai.jpg">
    </div>
  </div>

  <% end %>
</div>
<% end %>








