<h1> <%= @product.name %></h1>
<p><%= number_to_currency(@product.price) %></p>
<p><%= @product.description %></p>
<p>Price<%= number_to_currency(@product.sale_message) %></p>
<p>Tax: <%= number_to_currency (@product.tax) %></p>
<p>Total: <%= number_to_currency (@product.total) %></p>
<p>In Stock: <%= @product.in_stock %></p>
<p>Supplier: <%= @product.supplier.name %></p>
<p>
Images:<% @product.images.each do |image|%>
<img src="<%= image.url %>">
<% end %>
<h4><a href="/products/<%= @product[:id]%>/edit">Want to edit a product? Click here!</a></h4>

<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input type="submit" value="DESTROY THIS PRODUCT!">
<%end %>

<%= link_to "DESTROY THIS PRODUCT", "/products/#{@product.id}", method: :delete %>
<%= button_to "DESTROY THIS PRODUCT", "/products/#{@product.id}", method: :delete %>